{% extends 'blog/base.html' %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
<h2>Blog Posts</h2>
{% for post in posts %}
    <div class="card mb-3">
        <div class="card-body">
            <h3 class="card-title">{{ post.title }}</h3>
            <p class="card-text">{{ post.content|truncatechars:200 }}</p>
            {% if post.picture %}
                <img src="{{ post.picture.url }}" alt="{{ post.title }}" class="img-fluid">
            {% endif %}
            <p class="text-muted">By {{ post.author }} on {{ post.created_at }}</p>
            <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Read More</a>
        </div>
    </div>
{% endfor %}
{% endblock %}
